header{
  background: #fff;
  .container-fluid{
    display: flex;
  }

}

@include autohide(map-get($menu-config, 'aside-left')){
  main{
    transition: all 0.3s;
  }
  body.menu-open main{
    filter: blur(7px);
  }
  header{
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 3000;
  }
  body{
    padding-top:70px;
  }
  #main-menu{
    top:72px;
  }
}

header .menu-toggle-button{
  display: none;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px 20px;
  background:#eee;
  border-color: #eee;
  color:#333;
  cursor: pointer;
  &:hover, &:active, &:focus{
    background: #aaa;
    border-color: #aaa;
    box-shadow: none;
  }

  .active{
    content: "x";
  }
}

@include autohide(map-get($menu-config, 'aside-left')){
  header .menu-toggle-button{
    display: block;
  }
}

@include menu-breakpoint('plain-horizontal'){
  #main-menu{
    margin-left: auto;
  }
}
