@include menu-breakpoint("main-menu", 'aside-left'){
  main{
    transition: all 0.3s;
  }
  body{
    background: #014c8c;
  }
  body.am-menu-active main{
    opacity: 0.1;
  }
  header{
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 3000;
  }
  body{
    padding-top:70px;
  }
  #main-menu{
    top:72px;
  }
}

@include menu-breakpoint("main-menu", 'aside-left'){
  header .menu-toggle-button{
    display: block;
  }
}

@include menu-breakpoint("main-menu", 'plain-horizontal'){
  #main-menu{
    margin-left: auto;
  }
}
