$registered-menus: (
main-menu: (
selector:"#main-menu",
themes:(
aside-left: (
min:0px,
max:750px,
autohide: 750px
),
aside-right: (
min:750px,
max:1024px,
),
plain-horizontal: (min:1024px)
)
),

page-menu: (
selector:"#page-menu",
themes:(
dropdown: (min:0px, max: 450px),
plain-horizontal: (min:450px)
)
),

class-selected-menu: (
selector:".some-menu",
themes:(
dropdown: (min:0px, max: 750px),
plain-horizontal: (min:750px)
)
)
);
